@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Par défaut = thème sombre (black) */
  :root {
    --background: #020617;
    --surface: #0f172a;
    --border: #1e293b;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
  }

  /* Mode clair = quand .light est sur html */
  html.light {
    --background: #f8fafc;
    --surface: #ffffff;
    --border: #e2e8f0;
    --text-main: #0f172a;
    --text-muted: #64748b;
  }

  body {
    background-color: var(--background);
    color: var(--text-main);
  }
}
